* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:rgb(17, 147, 199);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.card-container {
  background-image: url("./assets/bundesliga.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.player-card {
  height: 400px;
  & img {
    
    transition: transform 0.3s;
  }
  &:hover {
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
    & img {
      transform:scale(0.9);
      filter: none;
    }
  }
}